[Desktop Entry]
Encoding=UTF-8
Name=Jgcoin
Comment=Jgcoin P2P Cryptocurrency
Comment[fr]=Jgcoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Jgcoin, eşten eşe kriptografik sanal para birimi
Exec=jgcoin-qt %u
Terminal=false
Type=Application
Icon=jgcoin128
MimeType=x-scheme-handler/jgcoin;
Categories=Office;Finance;
