#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

#DEB_MAKE_CHECK_TARGET = test_jgcoin
#build/jgcoind::
#	$(if $(filter nocheck,$(DEB_BUILD_OPTIONS)),,src/test_jgcoin)

DEB_INSTALL_EXAMPLES_jgcoind += debian/examples/*
DEB_INSTALL_MANPAGES_jgcoind += debian/manpages/*

%:
	dh --with bash-completion $@

override_dh_auto_build:
	cd src; $(MAKE) -f makefile.unix jgcoind
	$(MAKE)

override_dh_auto_clean:
	if [ -f Makefile ]; then $(MAKE) clean; else rm -rf build/; rm -f jgcoin-qt; fi
	cd src; $(MAKE) -f makefile.unix clean

override_dh_auto_configure:
	qmake jgcoin-qt.pro USE_QRCODE=1

override_dh_auto_test:
	cd src; $(MAKE) -f makefile.unix test_jgcoin
	src/test_jgcoin

# Ensure wrapper is set executable
binary-post-install/jgcoind:
	chmod +x $(cdbs_curdestdir)usr/bin/jgcoind
binary-post-install/jgcoin-qt:
	chmod +x $(cdbs_curdestdir)usr/bin/jgcoin-qt
